<footer class="footer">
  <div class="container col-md-12">
    <div class="row" style="padding: 0 16px">
      <div class="col-md-3">
        <ul class="horizont">
          <li class="bot-nav-item">
            <a class="bot-nav-link
                    <% if @title == "About" %>active
                    <% end %>" href="<%= about_path %>">About</a>
          </li>
          <li class="bot-nav-item">
            <a class="bot-nav-link
                    <% if @title == "Contact" %>active
                    <% end %>" href="<%= contact_path %>">Contact</a>
          </li>
          <li class="bot-nav-item">
            <a class="bot-nav-link
                    <% if @title == "News" %>active
                    <% end %>" href="/news">News</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-1">
        <span class="text-muted"><small>SidLab</small></span>
      </div>
    </div>
  </div>
</footer>